*.tmp

/build
/.gradle

.DS_Store


/viikko3/WebLogin/salasanat.txt 
/viikko4/Verkkokauppa/build/
/viikko4/IntJoukkoSovellus/build/
/viikko4/Tennis/build/

/viikko5/LaskinSwing/build/
/viikko5/LaskinSwing/.gradle/
/viikko5/LaskinSwing/src/main/java/LaskinSwing/.gradle/
/viikko5/LaskinSwing/src/main/java/LaskinSwing/build/